.display-4 {
    display: inline-flexbox;
    padding: 20px;
    font-size: 30px;
    background-color: #1b74ab;
    color: #d4a825;
  }
  
  .container-fluid {
    display: block;
    width: 13%;
    text-align: center;
  }
  
  .list-group {
  width:  20%;
  }
  
  .list-group-item {
    margin: 13px;
  }
  
  .list-group-item-action {
    background-color: #1b74ab;
    color: #d4a825;
  }
  .button.list-group-item-action {
  
    background-color: #1b74ab;
    color: #d4a825;
    border: double 10px;color: coral;
  }
  
  .button.list-group-item.list-group-item-action {
    background-color: #1b74ab;
    color: #d4a825;
    border: double 10px; color: darkred;
  
  }

  .div.weather-card.card.m-2.p0 {

    display:inline-table;
    background-color:aquamarine
  }

  .card.col-lg-2 {
   border: #1b74ab 4px double;
  }
  body {
    background-image: url('https://wallpapercave.com/wp/qQa5Pd7.jpg');
  }
.row {
  color: rgb(146, 9, 9);
}